{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
    <h1>Book List</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publishing Year</th>
                <th>Genre</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.publishingYear }}</td>
                    <td>{{ book.genre }}</td>
                    <td>{{ book.description }}</td>
                    <td>
                        <a href="{{ path('book_edit', {'id': book.id}) }}">Edit</a>
                        <form method="post" action="{{ path('book_delete', {'id': book.id}) }}" style="display:inline-block">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('book_new') }}">Add new book</a>
{% endblock %}
